/* font family */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


/* comman style start*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}

:root {
    --Dark: #424247;
}

body {
    background-color: #FFF;
}

header,
main {
    width: 81.25%;
    max-width: 73.125rem;
    margin: 0px auto;

}

section {
    margin-bottom: 6rem;
}

/* comman style end*/

/* nav style start */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.nav-icon-title>img {
    width: 3rem;
    height: 3.5rem;

}

.web-title {
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 2.25rem;
    font-weight: 800;
}

.web-title h1 span {
    color: #FF5400;
}

.nav-mobile-responsive {
    display: none;

}

.nav-container ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav-container ul li {
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.nav-container ul li a {
    color: var(--Dark);
    text-decoration: none;
}

/* nav style end */

/* banner-section start */
.banner-section {
    margin-top: 3.75rem;
    background-size: cover;
    width: 100%;
    height: 31.25rem;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');

}

.banner-container-flex {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-container {
    width: 48rem;
}

.banner-container>h1 {
    font-size: 4rem;
    font-weight: 800;
}

.banner-container>p {

    font-size: 1REM;
    font-weight: 400;
    margin-top: 1.6rem;
    margin-bottom: 4rem;
    line-height: 1.6rem;

}

.form {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    width: 48rem;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}

input,
select {
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
    background-color: #FFF;

}

.primary-btn {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}

select {
    color: rgba(19, 19, 24, 0.50);
    padding-left: 1rem;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.fa-search {
    color: #FFFFFF;
    margin-right: 0.5rem;
    width: 10%;
}




/* banner-section end */

/* Popular-Tours-section start */

.Popular-Tours-container {
    display: flex;

    gap: 3.4rem;
}

.Popular-tour-txt>h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.Popular-tour-txt>p {
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    margin-bottom: 1.5rem;
}

.Popular-tour-txt ul {
    padding-left: 1.2rem;
    width: 525px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.Popular-tour-last-p {
    width: 525px;
    margin-top: 1.5rem;
}

.popular-tour-image>img {
    width: 540px;
    height: 550px;
    flex-shrink: 0;
}

/* Popular-Tours-section end */

/* Choose Your Destination section start */

.images-container .row {
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem;
}

.common-heading-container {
    width: 643px;
    margin: 0px auto;
}

.common-heading-container>h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.common-heading-container>p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

.row {
    position: relative;
    display: flex;

}

.row-heading1 {
    position: absolute;
    top: 42%;
    left: 20%;
}

.row-heading2 {
    position: absolute;
    top: 42%;
    left: 70%;
}

.row-heading3 {
    position: absolute;
    top: 42%;
    left: 10%;
}

.row-heading4 {
    position: absolute;
    top: 42%;
    left: 45%;
}

.row-heading5 {
    position: absolute;
    top: 42%;
    left: 84%;
}

.row-heading6 {
    position: absolute;
    top: 42%;
    left: 15%;
}

.row-heading7 {
    position: absolute;
    top: 42%;
    left: 65%;
}

.row h4 {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}




/* Choose Your Destination section end */

.Choose-us-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

}

.Choose-us-content,
.Choose-us-content1,
.Choose-us-content2 {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    border: 2px solid rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.Choose-us-content1 {
    background: rgba(41, 206, 246, 0.05);
}

.Choose-us-content2 {

    background: rgba(233, 68, 68, 0.05);
}

.container-content {
    width: 486px;
    border: 2px solid red;

    padding-top: 30px;
}

.Choose-us-images {}

.Choose-us-container h1,
.Choose-us-container-center h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 2rem 0rem;
}

.Choose-us-container p,
.Choose-us-container-center p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */

}

.Choose-us-container-center {
    display: grid;
    border: 2px solid rebeccapurple;
    justify-content: center;
    margin-top: 56px;
}

/* newslatter start */

.newslatter {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.newslatter h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 1rem;
}

.newslatter p {
    width: 350px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 1rem;
    /* 162.5% */
}

.newslatter-form {
    display: block;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 2rem;
}

input {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin: 1rem 0rem;
}

.newslatter-form>button {
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-top: 1rem;

}

::placeholder {
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    padding: 1rem;
}

.discount {
    position: absolute;
    top: 60%;
    right: 1%;

    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);

    border-radius: 16px;
    background: #FF5400;


}

.discount p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.discount h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}





/* newslatter end */


footer{
    background: rgba(19, 19, 24, 0.05);
    width: 1440px;
height: 502px;              
margin: 0 auto;
}
.footer-section{
    width: 50%;
    text-align: center;
    border: 2px solid rebeccapurple;
   
}
.footer-container{
    display: flex;
}




































@media screen and (max-width:600px) {

    header,
    main {
        width: 90%;
        max-width: 600px;
        margin: 0px auto;

    }

    /* nav style start */
    .nav-container {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    .nav-icon-title>img {
        width: 1.76rem;
        height: 2.1rem;

    }

    .web-title {
        font-size: 1.32rem;
    }

    .nav-container ul {
        display: none;
    }

    .nav-mobile-responsive {
        display: flex;
    }


    /* nav style end */

    /* banner-section start */
    .banner-section {
        width: 100%;
        height: 483px;
        background-position: center;
        margin-top: 1.1rem;
    }

    .banner-container {
        width: 86%;
    }

    .banner-container>h1 {

        font-size: 22px;
        font-weight: 800;
    }

    .banner-container>p {

        font-size: 14px;
        line-height: 21px;

    }

    .form {
        display: block;
        width: 90%;
        margin: auto;

    }

    .primary-btn {
        width: 100%;
    }

    input,
    select {
        width: 100%;
        border-radius: 8px;
        background: #FFF;
        margin-bottom: 1rem;
    }

    /* banner-style-end */
    /* Popular-Tours-section start */

    .Popular-Tours-container {
        display: flex;
        flex-direction: column;

    }

    .Popular-tour-txt {}

    .Popular-tour-txt>h1 {
        font-size: 20px;
        margin-bottom: 1.5rem;
    }

    .Popular-tour-txt>p {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 1.5rem;
    }

    .Popular-tour-txt ul {
        padding-left: 1.2rem;
        width: 98%;
        gap: 1.2rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        /* 162.5% */
    }

    .Popular-tour-last-p {
        width: 335px;
    }

    .Popular-tour-txt>button {
        width: 174px;
        height: 52px;
        flex-shrink: 0;
    }

    .popular-tour-image>img {
        width: 100%;
        height: 342px;
        flex-shrink: 0;
    }

    /* Popular-Tours-section end */

    /* Choose Your Destination section start */

    .images-container .row {
        display: block;
        margin-bottom: 0rem;
    }

    .common-heading-container {
        width: 98%;
        margin: 0px auto;
    }

    .common-heading-container>h1 {
        font-size: 20px;
        margin-bottom: 24px;
    }

    .common-heading-container>p {

        font-size: 14px;
        font-weight: 400;
        margin-bottom: 48px;
    }

    .row {
        position: relative;
        display: block;
        padding: 0px;
        margin: 0px;

    }

    .row img {
        width: 100%;
        height: 176px;
        margin-bottom: 1rem;
    }

    .row-heading1 {
        position: absolute;
        top: 20%;
        left: 35%;
    }

    .row-heading2 {
        position: absolute;
        top: 68%;
        left: 35%;
    }

    .row-heading3 {
        position: absolute;
        top: 10%;
        left: 35%;
    }

    .row-heading4 {
        position: absolute;
        top: 45%;
        left: 32%;
    }

    .row-heading5 {
        position: absolute;
        top: 78%;
        left: 35%;
    }

    .row-heading6 {
        position: absolute;
        top: 18%;
        left: 30%;
    }

    .row-heading7 {
        position: absolute;
        top: 68%;
        left: 32%;
    }

    .row h4 {
        color: #FFF;
        text-align: center;
        font-size: 28px;
        font-weight: 800;
    }




    /* Choose Your Destination section end */




    .Choose-us-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;

    }

    .Choose-us-content,
    .Choose-us-content1,
    .Choose-us-content2 {
        width: 100%;
        height: 284px;

    }

    .container-content {
        width: 88%;
        border: 2px solid red;

        padding-top: 30px;
    }

    .Choose-us-container h1,
    .Choose-us-container-center h1 {
        color: #131318;
        font-size: 24px;
        font-weight: 800;
        margin: 2rem 0rem;
    }

    .Choose-us-container p,
    .Choose-us-container-center p {
        color: #5A5A5D;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        /* 162.5% */

    }

    .Choose-us-container-center {
        display: grid;
        border: 2px solid rebeccapurple;
        justify-content: center;
        margin-top: 56px;
    }

    /* end */


    .newslatter {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .newslatter h1 {
        color: #131318;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 1rem;
    }

    .newslatter p {
        width: 100%;
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 1rem;
        /* 162.5% */
    }

    .newslatter-form {
        display: block;
        border-radius: 16px;
        border: 1px solid #FF5400;
        padding: 2rem;
    }

    input {
        width: 393px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
        margin: 1rem 0rem;
    }

    .newslatter-form>button {
        width: 393px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 8px;
        margin-top: 1rem;

    }



    .discount {

        width: 214.023px;
        height: 79.268px;



        position: absolute;
        top: 88%;
        right: 1%;






    }

    .discount p {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    .discount h1 {
        color: #FFF;
        font-family: Mulish;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
    }

    .images>img {
        width: 100%;
        height: 300px;
        flex-shrink: 0;
    }



    /* newslatter end */

}